body, html {
    height: 100%;
}

.title {
    margin-top: 51px;
    background-image: url("../assets/image2.jpg"); /* replace ../assets/image2.jpg with path to desired background image */
    background-color: green; /* put desired background color here, for if image is unavailable */
    color: white; /* put desired text color here */
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    /* font-size: 48px; */
}

.title h1 {
    font-size: 48px;
}

.bg {
    padding-top: 20px;
    background-color: white; /* replace this with desired background color for body of page */
}

.col-sm-8 p {
    font-size: 16px; /* replace this with desired font size for body text */
}

.row {
    margin-bottom: 20px;
}

img {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 85%;
    height: auto;
}

/* settings that only apply to screen size small or bigger */
@media (min-width: 576px) {
}

/* settings that only apply to screen size medium or bigger */
@media (min-width: 768px) {
}

/* settings that only apply to screen size large or bigger */
@media (min-width: 992px) {
    
}

/* settings that only apply to screen size xl or bigger */
@media (min-width: 1200px) {

}
