body, html {
    height: 100%;
}

/* default settings; these settings are used unless overridden by settings for specific screen size */
.bg {
    margin-top: 10%;
    background-color: tomato; /* replace "tomato" with your desired background color for small screens */
    height: 100%;
}

/* screen size small */
@media (min-width: 576px) {
  .bg {
      margin-top: 5%;
      background-color: tomato; /* replace "tomato" with your desired background color for small screens */
      height: 100%;
  }
}

/* screen size medium */
@media (min-width: 768px) {
    .bg {
	margin-top: 4%;
	background-image: url("http://ochre.lib.uchicago.edu/ochre?uuid=03f3209b-291d-442b-88f2-f9c064fea259&image"); /* replace this with image for your project */
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    }
}

/* screen size large */
@media (min-width: 992px) {
    .bg {
	margin-top: 4%;
	background-image: url("http://ochre.lib.uchicago.edu/ochre?uuid=03f3209b-291d-442b-88f2-f9c064fea259&image"); /* replace this with image for your project */
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    }
}

/* screen size xl */
@media (min-width: 1200px) {
    .bg {
	margin-top: 4%;
	background-image: url("http://ochre.lib.uchicago.edu/ochre?uuid=03f3209b-291d-442b-88f2-f9c064fea259&image"); /* replace this with image for your project */
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    }
}
