body, html {
    height: 100%;
}

/* screen size xs */
.bg {
    background-color: red; /* replace "red" with your desired background color for small screens */
    height: 100%;
}

/* screen size small */
@media (min-width: 576px) {
  .bg {
      background-color: red; /* replace "red" with your desired background color for small screens */
      height: 100%;
  }
}

/* screen size medium */
@media (min-width: 768px) {
    .bg {
	background-image: url("http://ochre.lib.uchicago.edu/ochre?uuid=be09010f-c16a-43c2-9632-e95c27e82d0d&image"); /* replace this with image for your project */
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    }
}

/* screen size large */
@media (min-width: 992px) {
    .bg {
	background-image: url("http://ochre.lib.uchicago.edu/ochre?uuid=be09010f-c16a-43c2-9632-e95c27e82d0d&image"); /* replace this with image for your project */
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    }
}

/* screen size xl */
@media (min-width: 1200px) {
    .bg {
	background-image: url("http://ochre.lib.uchicago.edu/ochre?uuid=be09010f-c16a-43c2-9632-e95c27e82d0d&image"); /* replace this with image for your project */
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    }
}
