body, html {
    height: 100%;
    background-color: burlywood; // replace this with your desired page background color
}

.gallery-picker {
    margin-top: 51px;
    text-align: center;
}

.gallery-picker h4 {
    display: inline-block;
    padding-right: 1%;
}

.gallery-picker a {
    padding: 1%;
}

.seadragon-viewer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /* width: 100%; */
    /* margin-top: 51px; */
}

@media (min-width: 992px) {
    .seadragon-viewer {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
    }
}
